.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  border-bottom: 1px solid white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.main-css {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.task {
  background-color: rgb(255, 255, 255);
  margin-bottom: 10px;
  border: 1px solid black;
  width: 1000px;
  height: 150px;
  text-align: left;
  border-radius: 25px;
  color: black;
  
}

.cards{
  margin:10px;
  display: flex;
  justify-content: space-between;
}


.botaoTask{
  width: 150px;
  height: 40px;
  border-radius: 25px;
  
}

input{
  width: 350px;
  height: 40px;
  border-radius: 10px;
}

.botaoDeletar{
  width: 150px;
  height: 40px;
  border-radius: 25px;
  margin-top: 30px;
}